
.Rproj.user/87005F0A/pcs/windowlayoutstate.pper
.RData
.Rhistory
.Rproj.user/87005F0A/pcs/files-pane.pper
.Rproj.user/87005F0A/build_options
.Rproj.user/87005F0A/pcs/source-pane.pper
.Rproj.user/87005F0A/pcs/workbench-pane.pper
.Rproj.user/87005F0A/rmd-outputs
.Rproj.user/87005F0A/sources/prop/50124D43
.Rproj.user/87005F0A/sources/prop/INDEX
.Rproj.user/87005F0A/saved_source_markers
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
gsoc2022.Rproj
